-- ================================================
-- Starting with creating a database with normalized tables
-- ================================================

CREATE DATABASE IF NOT EXISTS retail_mbr;
USE retail_mbr;

-- ------------------------------------------------
-- DIMENSION TABLE: Customers
-- ------------------------------------------------
DROP TABLE IF EXISTS dim_customer;
CREATE TABLE dim_customer (
    customer_id     VARCHAR(20) PRIMARY KEY,
    customer_name   VARCHAR(100),
    segment         VARCHAR(50),
    city            VARCHAR(100),
    state           VARCHAR(100),
    region          VARCHAR(50),
    country         VARCHAR(50)
);

-- ------------------------------------------------
-- DIMENSION TABLE: Products
-- ------------------------------------------------
DROP TABLE IF EXISTS dim_product;
CREATE TABLE dim_product (
    product_id      VARCHAR(20) PRIMARY KEY,
    product_name    VARCHAR(255),
    category        VARCHAR(50),
    sub_category    VARCHAR(50)
);

-- ------------------------------------------------
-- FACT TABLE: Orders
-- ------------------------------------------------
DROP TABLE IF EXISTS fact_orders;
CREATE TABLE fact_orders (
    row_id          INT PRIMARY KEY,
    order_id        VARCHAR(20),
    order_date      DATE,
    ship_date       DATE,
    ship_mode       VARCHAR(50),
    customer_id     VARCHAR(20),
    product_id      VARCHAR(50),
    sales           DECIMAL(10,2),
    quantity        INT,
    discount        DECIMAL(5,2),
    profit          DECIMAL(10,2),
    FOREIGN KEY (customer_id) REFERENCES dim_customer(customer_id),
    FOREIGN KEY (product_id)  REFERENCES dim_product(product_id)
);

-- ------------------------------------------------
-- KPI TABLE: Monthly Summary (Output/Warehouse)
-- ------------------------------------------------
DROP TABLE IF EXISTS kpi_monthly;
CREATE TABLE kpi_monthly (
    month               VARCHAR(7),      -- YYYY-MM
    region              VARCHAR(50),
    category            VARCHAR(50),
    segment             VARCHAR(50),
    revenue             DECIMAL(12,2),
    pcogs               DECIMAL(12,2),
    deal_ops            DECIMAL(12,2),
    out_of_stock_pct    DECIMAL(5,2),
    conversion_rate     DECIMAL(5,2)
);
