
-- ================================================
-- RETAIL MBR PIPELINE
-- Layer 2: Data Transformation & Validation
-- ================================================

USE retail_mbr;

-- ------------------------------------------------
-- CHECK 1: Null values in fact_orders
-- ------------------------------------------------

SELECT
    SUM(CASE WHEN sales    IS NULL THEN 1 ELSE 0 END) AS null_sales,
    SUM(CASE WHEN quantity IS NULL THEN 1 ELSE 0 END) AS null_quantity,
    SUM(CASE WHEN profit   IS NULL THEN 1 ELSE 0 END) AS null_profit,
    SUM(CASE WHEN discount IS NULL THEN 1 ELSE 0 END) AS null_discount
FROM fact_orders;

-- No Null values

-- ------------------------------------------------
-- CHECK 2: Date range validation
-- ------------------------------------------------

SELECT
    MIN(order_date) AS earliest_order,
    MAX(order_date) AS latest_order,
    COUNT(DISTINCT DATE_FORMAT(order_date, '%Y-%m')) AS total_months
FROM fact_orders;

-- Earliest date = 2014-01-03
-- latest date = 2017-12-30
-- total months  = 48


-- ------------------------------------------------
-- CHECK 3: Negative profits (returns/losses)
-- ------------------------------------------------
SELECT
    COUNT(*) AS loss_making_orders,
    ROUND(SUM(profit), 2) AS total_loss
FROM fact_orders
WHERE profit < 0;

-- loss making orders = 1871
-- total loss = 156131.29


-- ------------------------------------------------
-- Clean orders view
-- ------------------------------------------------
CREATE OR REPLACE VIEW vw_clean_orders AS
SELECT
    f.row_id,
    f.order_id,
    f.order_date,
    f.ship_date,
    f.ship_mode,
    DATE_FORMAT(f.order_date, '%Y-%m')  AS month,
    YEAR(f.order_date)                  AS year,
    MONTH(f.order_date)                 AS month_num,
    f.sales,
    f.quantity,
    f.discount,
    f.profit,
    -- Derived columns
    ROUND(f.sales * (1 - f.discount), 2)        AS net_sales,
    ROUND(f.sales - f.profit, 2)                AS cogs,                -- Revenue - COGS = Profit Hence COGS = Revenue - Profit
    ROUND(DATEDIFF(f.ship_date, f.order_date), 0) AS days_to_ship,
    -- Customer details
    c.customer_id,
    c.customer_name,
    c.segment,
    c.city,
    c.state,
    c.region,
    -- Product details
    p.product_id,
    p.product_name,
    p.category,
    p.sub_category

FROM fact_orders f
JOIN dim_customer c ON f.customer_id = c.customer_id
JOIN dim_product  p ON f.product_id  = p.product_id

;

SELECT COUNT(*) AS total_rows FROM vw_clean_orders;

-- 9994

SELECT * FROM vw_clean_orders LIMIT 5;