
-- ================================================
-- RETAIL MBR PIPELINE
-- Layer 3: KPI Models → Data Warehouse Output
-- ================================================

USE retail_mbr;

-- ================================================
-- KPI 1: REVENUE
-- Total net sales value per month/region/category
-- ================================================

CREATE OR REPLACE VIEW vw_kpi_revenue AS
SELECT
    month,
    year,
    month_num,
    region,
    category,
    segment,
    ROUND(SUM(net_sales), 2)    AS revenue,
    COUNT(DISTINCT order_id)    AS total_orders,
    SUM(quantity)               AS total_units
FROM vw_clean_orders
GROUP BY month, year, month_num, region, category, segment;


-- ================================================
-- KPI 2: PCOGS (Product Cost of Goods Sold)
-- Revenue minus Profit = Cost
-- ================================================

CREATE OR REPLACE VIEW vw_kpi_pcogs AS
SELECT
    month,
    year,
    month_num,
    region,
    category,
    segment,
    ROUND(SUM(cogs), 2)                             AS pcogs,
    ROUND(SUM(net_sales), 2)                        AS revenue,
    ROUND((SUM(cogs) / nullif(SUM(net_sales),0)) * 100, 2)   AS pcogs_pct
FROM vw_clean_orders
GROUP BY month, year, month_num, region, category, segment;

-- ================================================
-- KPI 3: OPS
-- Total operational Product Sales (Sales before discount)
-- ================================================

CREATE OR REPLACE VIEW vw_kpi_ops AS
SELECT
    month,
    year,
    month_num,
    region,
    category,
    segment,
    ROUND(SUM(sales), 2)                            AS ops,
    ROUND(SUM(sales * discount), 2)                 AS total_discount_given,
    ROUND(AVG(discount) * 100, 2)                   AS avg_discount_pct
FROM vw_clean_orders
GROUP BY month, year, month_num, region, category, segment;


-- ================================================
-- KPI 4: PROFIT MARGIN %
-- Profit as a percentage of Sales
-- ================================================
CREATE OR REPLACE VIEW vw_kpi_profit_margin AS
SELECT
    month,
    year,
    month_num,
    region,
    category,
    segment,
    ROUND(SUM(profit), 2)                           AS total_profit,
    ROUND(SUM(sales), 2)                            AS total_sales,
    ROUND(SUM(profit) * 100.0 / NULLIF(SUM(sales), 0), 2) AS profit_margin_pct
FROM vw_clean_orders
GROUP BY month, year, month_num, region, category, segment;


-- ================================================
-- KPI 5: CONVERSION RATE
-- % of orders that were profitable (proxy for conversion)
-- ================================================
CREATE OR REPLACE VIEW vw_kpi_conversion AS
SELECT
    month,
    year,
    month_num,
    region,
    category,
    segment,
    COUNT(DISTINCT order_id)                            AS total_orders,
    COUNT(DISTINCT CASE
        WHEN profit > 0 THEN order_id END)              AS successful_orders,
    ROUND(
        COUNT(DISTINCT CASE WHEN profit > 0
            THEN order_id END) * 100.0
        / NULLIF(COUNT(DISTINCT order_id),0), 2
    )                                                   AS conversion_rate
FROM vw_clean_orders
GROUP BY month, year, month_num, region, category, segment;


-- ================================================
-- MASTER KPI TABLE — The Data Warehouse Output
-- All 5 KPIs joined into one final table
-- ================================================
CREATE OR REPLACE VIEW vw_master_kpi AS
SELECT
    r.month,
    r.year,
    r.month_num,
    r.region,
    r.category,
    r.segment,
    -- KPI 1: Revenue
    r.revenue,
    r.total_orders,
    r.total_units,
    -- KPI 2: PCOGS
    p.pcogs,
    p.pcogs_pct,
    -- KPI 3: OPS
    d.ops,
    d.total_discount_given,
    d.avg_discount_pct,
    -- KPI 4: Profit Margin
    total_profit,
    total_sales,    
    o.profit_margin_pct,
    -- KPI 5: Conversion Rate
    c.conversion_rate,
    c.successful_orders
FROM vw_kpi_revenue      r
JOIN vw_kpi_pcogs        p
    ON  r.month = p.month
    AND r.year = p.year
    AND r.region = p.region
    AND r.category = p.category
    AND r.segment = p.segment
JOIN vw_kpi_ops d
    ON  r.month = d.month
    AND r.year = d.year
    AND r.region = d.region
    AND r.category = d.category
    AND r.segment = d.segment
JOIN vw_kpi_conversion   c
    ON  r.month = c.month
    AND r.year = c.year
    AND r.region = c.region
    AND r.category = c.category
    AND r.segment = c.segment
JOIN vw_kpi_profit_margin o
    ON  r.month = o.month
    AND r.year = o.year
    AND r.region = o.region
    AND r.category = o.category
    AND r.segment = o.segment
    
;

SELECT * FROM vw_master_kpi LIMIT 10;

SELECT COUNT(*) AS total_rows FROM vw_master_kpi;

-- Total Rows = 1513


-- ================================================
-- MoM & YoY KPI VIEW
-- ================================================

CREATE OR REPLACE VIEW vw_master_kpi_trends AS
WITH base AS (
    SELECT
        month,
        year,
        month_num,
        region,
        category,
        segment,
        -- Currency KPIs
        SUM(revenue)            AS revenue,
        SUM(pcogs)              AS pcogs,
        SUM(ops)                AS ops,
        -- Profit Margin %
        ROUND(
            SUM(total_profit) * 100.0
            / NULLIF(SUM(ops), 0)
        , 2)                    AS profit_margin_pct,
        -- Conversion Rate
        ROUND(
            SUM(successful_orders) * 100.0
            / NULLIF(SUM(total_orders), 0)
        , 2)                    AS conversion_rate,
        SUM(total_orders)       AS total_orders,
        SUM(total_units)        AS total_units
    FROM vw_master_kpi
    GROUP BY month, year, month_num, region, category, segment
),
with_trends AS (
    SELECT
        b.*,
        -- ----------------------------------------
        -- REVENUE MoM & YoY
        -- ----------------------------------------
        LAG(revenue, 1) OVER (
            PARTITION BY region, category, segment
            ORDER BY month)                         AS revenue_prev_month,

        LAG(revenue, 12) OVER (
            PARTITION BY region, category, segment
            ORDER BY month)                         AS revenue_prev_year,
        -- ----------------------------------------
        -- PCOGS MoM & YoY
        -- ----------------------------------------
        LAG(pcogs, 1) OVER (
            PARTITION BY region, category, segment
            ORDER BY month)                         AS pcogs_prev_month,

        LAG(pcogs, 12) OVER (
            PARTITION BY region, category, segment
            ORDER BY month)                         AS pcogs_prev_year,
        -- ----------------------------------------
        -- OPS MoM & YoY
        -- ----------------------------------------
        LAG(ops, 1) OVER (
            PARTITION BY region, category, segment
            ORDER BY month)                         AS ops_prev_month,

        LAG(ops, 12) OVER (
            PARTITION BY region, category, segment
            ORDER BY month)                         AS ops_prev_year,
        -- ----------------------------------------
        -- PROFIT MARGIN MoM & YoY
        -- ----------------------------------------
        LAG(profit_margin_pct, 1) OVER (
            PARTITION BY region, category, segment
            ORDER BY month)                         AS margin_prev_month,

        LAG(profit_margin_pct, 12) OVER (
            PARTITION BY region, category, segment
            ORDER BY month)                         AS margin_prev_year,
        -- ----------------------------------------
        -- CONVERSION RATE MoM & YoY
        -- ----------------------------------------
        LAG(conversion_rate, 1) OVER (
            PARTITION BY region, category, segment
            ORDER BY month)                         AS conversion_prev_month,

        LAG(conversion_rate, 12) OVER (
            PARTITION BY region, category, segment
            ORDER BY month)                         AS conversion_prev_year
    FROM base b
)
SELECT
    month,
    year,
    month_num,
    region,
    category,
    segment,
    total_orders,
    total_units,
    -- ----------------------------------------
    -- KPI 1: REVENUE
    -- ----------------------------------------
    revenue,
    revenue_prev_month,
    ROUND(revenue - revenue_prev_month, 2)
        AS revenue_mom_change,
    ROUND((revenue - revenue_prev_month)
        * 100.0 / NULLIF(revenue_prev_month, 0), 2)
        AS revenue_mom_pct,
    ROUND((revenue - revenue_prev_year)
        * 100.0 / NULLIF(revenue_prev_year, 0), 2)
        AS revenue_yoy_pct,
    -- ----------------------------------------
    -- KPI 2: PCOGS
    -- ----------------------------------------
    pcogs,
    ROUND(pcogs - pcogs_prev_month, 2)
        AS pcogs_mom_change,
    ROUND((pcogs - pcogs_prev_month)
        * 100.0 / NULLIF(pcogs_prev_month, 0), 2)
        AS pcogs_mom_pct,
    ROUND((pcogs - pcogs_prev_year)
        * 100.0 / NULLIF(pcogs_prev_year, 0), 2)
        AS pcogs_yoy_pct,
    -- ----------------------------------------
    -- KPI 3: OPS
    -- ----------------------------------------
    ops,
    ROUND(ops - ops_prev_month, 2)
        AS ops_mom_change,
    ROUND((ops - ops_prev_month)
        * 100.0 / NULLIF(ops_prev_month, 0), 2)
        AS ops_mom_pct,
    ROUND((ops - ops_prev_year)
        * 100.0 / NULLIF(ops_prev_year, 0), 2)
        AS ops_yoy_pct,
    -- ----------------------------------------
    -- KPI 4: PROFIT MARGIN %
    -- ----------------------------------------
    profit_margin_pct,
    ROUND(profit_margin_pct - margin_prev_month, 2)
        AS margin_mom_change,
    ROUND(profit_margin_pct - margin_prev_year, 2)
        AS margin_yoy_change,
    -- ----------------------------------------
    -- KPI 5: CONVERSION RATE
    -- ----------------------------------------
    conversion_rate,
    ROUND(conversion_rate - conversion_prev_month, 2)
        AS conversion_mom_change,
    ROUND(conversion_rate - conversion_prev_year, 2)
        AS conversion_yoy_change

FROM with_trends
ORDER BY month, region, category, segment;

SELECT * FROM vw_master_kpi_trends LIMIT 10;